<!DOCTYPE html>
<html>
<head>
  <title>Cáculo de escaños</title>
</head>
<body>
  <h1>Introduce los datos de las elecciones</h1>
  <form action="/submit" method="POST">
    <label for="party">Partido:</label>
    <input type="text" id="party" name="party">
    <label for="votes">Votos:</label>
    <input type="number" id="votes" name="votes">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
