<!DOCTYPE html>
<html>
<head>
  <title>Cáculo de escaños</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>
    <h1>Contador de escaños</h1>
    <!-- Aquí estará la barra de navegación -->
  </header>
    
  <main>
    <div class="container">
      <section class="party-list">
        <h2>Lista de partidos</h2>
        <!-- Lista de partidos y formulario de votos aquí -->
      </section>

      <section class="seats-graph">
        <h2>Gráfico de escaños</h2>
        <!-- Gráfico de escaños aquí -->
      </section>

      <section class="province-map">
        <h2>Mapa de la provincia</h2>
        <!-- Mapa de la provincia aquí -->
      </section>
    </div>
  </main>
</body>
</html>