.container {
  display: flex;
  flex-direction: column;
}

.party-list,
.seats-graph,
.province-map {
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }

  .party-list,
  .seats-graph,
  .province-map {
    flex: 1;
  }
}
